*{
    margin: 0;
    padding: 0;
}

.grilla{
    display: grid;
    grid-template-areas: 
    "encabezado encabezado encabezado encabezado"
    " body body body horario"
    " divInscriptos divInscriptos . . "
    "footer footer footer footer";
    grid-template-rows: 15vh auto 80vh 20vh;
    grid-template-columns: 25vw 24.8vw 24.8vw 25vw;
}

.encabezado {
    grid-area: encabezado;
    background-color: rgb(1, 43, 1);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: center;
}

.encabezado picture img {
    height: 15vh;
}

.encabezado nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 60vw;
}

.encabezado nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.encabezado nav ul li {
    margin: 25px;
    font-size: 20px;
    color: #fefb3f;
}

.encabezado nav ul li a {
    color: #fefb3f;
    text-decoration: none;
}

.body {
    grid-area: body;
}

main{
    margin: 5px;
}

h2{
    font-size: 40px;
    color: rgb(1, 43, 1);
    margin: 10px;
}

form{
    margin: 10px;
}

#horario{
    grid-area: horario;
    font-size: 20px;
    color: rgb(1, 43, 1);
    margin: 10px;
}

#divInscriptos{
    grid-area: divInscriptos;
    margin: 15px;
}

.footer {
    grid-area: footer;
    background-color: rgb(1, 43, 1);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: center;
}

.footer picture img {
    height: 18vh;
}

.footer ul{
    margin: 15px;
    font-size: 20px;
    color: #fefb3f;
}

.footer ul li{
    font-size: 18px;
    margin: 5px;
    color: #fefb3f;
}

.footer ul li a {
    color: #fefb3f;
    text-decoration: none;
}