*{
    margin: 0;
    padding: 0;
}

.grilla{
    display: grid;
    grid-template-areas: 
    "encabezado encabezado encabezado encabezado"
    " body body body body"
    "footer footer footer footer";
    grid-template-rows: 15vh auto 20vh;
    grid-template-columns: 10vw 39.2vw 39.2vw 10vw;
}

.encabezado {
    grid-area: encabezado;
    background-color: rgb(1, 43, 1);
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: center;
}

.encabezado p {
    display: flex;
    margin: 15px;
    font-size: 20px;
    color: greenyellow;
    width: 30vw;
}

.encabezado nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 60vw;
}

.encabezado nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.encabezado nav ul li {
    margin: 15px;
    font-size: 20px;
    color: greenyellow;
}

.encabezado nav ul li a {
    color: greenyellow;
    text-decoration: none;
}

.body {
    grid-area: body;
}

main{
    margin: 5px;
}

.footer {
    grid-area: footer;
    background-color: rgb(1, 43, 1);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: center;
}

.footer p{
    font-size: 20px;
    color: greenyellow;
    align-self: center;
}

.footer ul{
    margin: 15px;
    font-size: 20px;
    color: greenyellow;
}

.footer ul li{
    font-size: 18px;
    margin: 5px;
    color: greenyellow;
}

.footer ul li a {
    color: greenyellow;
    text-decoration: none;
}