*{
    margin: 0;
    padding: 0;
}

.grilla{
    display: grid;
    grid-template-areas: 
    "encabezado encabezado encabezado encabezado"
    " . imagen imagen . "
    " . textoSpinning textoSpinning . "
    " . spinning1 spinning2 . "
    " . textoFuncional textoFuncional . "
    " . funcional1 funcional2 . "
    " . inscripcion fotoGrupos . "
    " . textoEspera textoEspera . "
    "footer footer footer footer";
    grid-template-rows: 15vh auto auto auto auto auto auto auto 20vh;
    grid-template-columns: 10vw 39.4vw 39.3vw 10vw;
}

.encabezado {
    grid-area: encabezado;
    background-color: rgb(1, 43, 1);
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: center;
}

.encabezado picture img {
    height: 15vh;
}

.encabezado nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 60vw;
}

.encabezado nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.encabezado nav ul li {
    margin: 25px;
    font-size: 20px;
    color: #fefb3f;
}

.encabezado nav ul li a {
    color: #fefb3f;
    text-decoration: none;
}

.imagen{
    grid-area: imagen;
}

.textoSpinning{
    grid-area: textoSpinning;
    color: rgb(1, 43, 1);
    display: flex;
    justify-content: center;
    margin: 25px;
    font-size: 40px;
}

.spinning1{
    grid-area: spinning1;
    margin: 5px;
    background-color: rgb(1, 43, 1);
    border: solid 3px;
    border-color: #fefb3f;
}

.encabezadoClases{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 25px;
    margin: 15px;
}

.listaClases{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    margin: 25px;
    font-size: 18px;
}

.claseItem{
    margin: 7px;
}

.spinning2{
    grid-area: spinning2;
    margin: 5px;
    background-color: rgb(1, 43, 1);
    border: solid 3px;
    border-color: #fefb3f;
}

.textoFuncional{
    grid-area: textoFuncional;
    color: rgb(1, 43, 1);
    display: flex;
    justify-content: center;
    margin: 25px;
    font-size: 40px;
}

.funcional1{
    grid-area: funcional1;
    margin: 5px;
    background-color: rgb(1, 43, 1);
    border: solid 3px;
    border-color: #fefb3f;
}

.funcional2{
    grid-area: funcional2;
    margin: 5px;
    background-color: rgb(1, 43, 1);
    border: solid 3px;
    border-color: #fefb3f;
}

.inscripcion{
    grid-area: inscripcion;
    margin: 5px;
    border: solid 5px;
    border-color: #fefb3f;
}

.divForm{
    margin: 10px;
}

.textoEspera{
    grid-area: textoEspera;
    color: rgb(1, 43, 1);
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 25px;
}

.fotoGrupos{
    grid-area: fotoGrupos;
    margin: 5px;
}

.footer {
    grid-area: footer;
    background-color: rgb(1, 43, 1);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: center;
}

.footer picture img {
    height: 18vh;
}

.footer ul{
    margin: 15px;
    font-size: 20px;
    color: #fefb3f;
}

.footer ul li{
    font-size: 18px;
    margin: 5px;
    color: #fefb3f;
}

.footer ul li a {
    color: #fefb3f;
    text-decoration: none;
}