*{
    margin: 0;
    padding: 0;
}

.grilla{
    display: grid;
    grid-template-areas: 
    "encabezado encabezado encabezado encabezado"
    " . imagen imagen . "
    " . titulo titulo . "
    " . funcional imagenFuncional . "
    " . imagenSpinning spinning . "
    " . preguntaLugar lugar . "
    " . descripcionLugar lugar . "
    " . textoClases textoClases . "
    " . fotoClases fotoClases . "
    "footer footer footer footer";
    grid-template-rows: 15vh auto auto auto auto auto auto auto auto 20vh;
    grid-template-columns: 10vw 39.4vw 39.3vw 10vw;
}

.encabezado {
    grid-area: encabezado;
    background-color: rgb(1, 43, 1);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: center;
}

.encabezado picture img {
    height: 15vh;
}

.encabezado nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 60vw;
}

.encabezado nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.encabezado nav ul li {
    margin: 25px;
    font-size: 20px;
    color: #fefb3f;
}

.encabezado nav ul li a {
    color: #fefb3f;
    text-decoration: none;
}

.imagen{
    grid-area: imagen;
    margin: 5px;
}

.imagen img {
    width: 100%;
    max-height: 110vh;
}

.titulo{
    grid-area: titulo;
    color: rgb(1, 43, 1);
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin: 25px;
}

.imagenFuncional{
    grid-area: imagenFuncional;
    max-width: 39.3vw;
    display: flex;
    justify-content: center;
}

.funcional{
    grid-area: funcional;
    margin: 5px;
    background-color: rgb(1, 43, 1);
    border: solid 3px;
    border-color: #fefb3f;
}

.funcional h4{
    margin: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.funcional p{
    color: #ffffff;
    font-size: 20px;
    margin: 5px;
}

.funcional ul li{
    color: #ffffff;
    font-size: 20px;
    margin: 5px;
}

.imagenSpinning{
    grid-area: imagenSpinning;
    max-width: 39.4vw;
    display: flex;
    justify-content: center;
}

.spinning{
    grid-area: spinning;
    margin: 5px;
    background-color: rgb(1, 43, 1);
    border: solid 3px;
    border-color: #fefb3f;
}

.spinning h4{
    margin: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.spinning p{
    color: #ffffff;
    font-size: 18px;
    margin: 5px;
}

.spinning ul li{
    color: #ffffff;
    font-size: 20px;
    margin: 5px;
}

.preguntaLugar{
    grid-area: preguntaLugar;
    color: rgb(1, 43, 1);
    display: flex;
    justify-content: center;
    margin: 25px;
    font-size: 25px;
}

.descripcionLugar{
    grid-area: descripcionLugar;
    color: rgb(1, 43, 1);
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 25px;
}

.lugar{
    grid-area: lugar;
    display: flex;
    justify-content: center;
    width: 38.5vw;
    height: 35vh;
    margin: 5px;
}

.textoClases{
    grid-area: textoClases;
    color: rgb(1, 43, 1);
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 25px;
}

.fotoClases{
    grid-area: fotoClases;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

.footer {
    grid-area: footer;
    background-color: rgb(1, 43, 1);
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.footer picture img {
    height: 15vh;
}

.footer ul{
    margin: 15px;
    font-size: 20px;
    color: #fefb3f;
}

.footer ul li{
    font-size: 16px;
    margin: 3px;
    color: #fefb3f;
}

.footer ul li a {
    color: #fefb3f;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .grilla{
        display: grid;
        grid-template-areas: 
        "encabezado encabezado encabezado"
        " . imagen . "
        " . titulo . "
        " . funcional . "
        " . imagenFuncional . "
        " . spinning . "
        " . imagenSpinning . "
        " . preguntaLugar . "
        " . lugar . "
        " . descripcionLugar . "
        " . textoClases . "
        " . fotoClases . "
        "footer footer footer";
        grid-template-rows: 15vh auto auto auto auto auto auto auto auto auto auto auto 20vh;
        grid-template-columns: 10vw 79.7vw 10vw;
    }
}

